<!DOCTYPE html>
<html lang="en">
  {{ template "head.html" . }}
  <body>
    <div
      class="relative flex h-screen flex-col justify-center overflow-hidden bg-gradient-to-t from-red-600 to-red-400 py-6 sm:py-12"
    >
      <div class="mb-auto text-center text-white">
        <h1 class="m-8 text-6xl">404</h1>
        <p class="m-3">Not Found</p>
        <small class="text-xs text-gray-300 hover:text-gray-50"
          ><a href="/">(Better Head Here)</a></small
        >
      </div>
      {{ template "footer.html" . }}
    </div>
  </body>
</html>
